body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{font-size: 50px;

}

.orange{
    color: orange;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}

.description{
    width: 50%;
    padding-left: 5%;
}


.description img{
    width: 50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image:url(top-banner.png) ;
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-big p{
    padding-right: 15%;
}

.experience-item{
    width: 50%;
    padding-left: 5%;
    box-shadow: 10px 10px 40px gray;
    width: 45%;
    margin: 5%;
    padding: 20px;
}
#full-stack{
    border-left: 8px solid;
    border-image: linear-gradient(rgb(241, 52, 83),rgb(189, 129, 147));
    border-image-slice: 1;
}
#baby{
    border-left: 8px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
.experience{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
